.form-bottom {
    position: absolute;
    width: 100%;
    padding-right: 30px;
    bottom: 20px;
}

@media only screen and (max-width: 991px) {
    .form-bottom {
        width: 100% !important;
    }

    .rcvdMsg, .sentMsg {
        font-size: 40px;
        margin: 0px 30px 30px 30px;
        padding: 10px 20px 0px 20px;
    }

    .form-control {
        height: 75px;
        font-size: 40px;
    }

    .fat-btn {
        height: 100px !important;
        font-size: 40px;
    }
}

.fat-btn {
    height: 50px;
}

.img-fill {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    max-height: 100vh !important;
    max-width: 100% !important;
}

.subtle-background {
    background: url('./assets/sbg1.png');
}

.full-height {
    height: 100vh;
}

.min-full-height {
    min-height: 100vh;
}

.msg-container {
    width: 100%;
}

.sentMsg {
    background: #1A87F8;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    max-width: 70%;
    float: right;
    margin: 0px 20px 20px 20px;
    padding: 10px 15px 0px 15px;
    border-radius: 12px;
    clear: both;
}

.rcvdMsg {
    background: #E5E5EA;
    max-width: 70%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    float: left;
    margin: 0px 20px 20px 20px;
    padding: 10px 15px 0px 15px;
    border-radius: 12px;
    clear: both;
}